<section class="hero-section" aria-label="Hero section">
  <div class="hero-background" aria-hidden="true">
  </div>
  <p class="hero-text" aria-label="Hero text">
    {{ language === 'en' ? 'HIGN advances equitable health care for older adults by educating the workforce and future professionals, informing policy, advancing research, and providing community programs.' : 'HIGN promueve la atención médica equitativa para los adultos mayores al educar a la fuerza laboral y a los futuros profesionales, informar las políticas, promover la investigación y brindar programas comunitarios.' }}
  </p>
</section>
